@use "foundation/variable";
@use "foundation/reset";
@use "foundation/base";
@use "project/component"; 
@use "layout/header";
@use "layout/footer";
@use "project/main-visual";
@use "project/about";
@use "project/bicycle";
@use "utility/utility";

